allow cameraserver property_socket:sock_file write;
allow cameraserver init:unix_stream_socket connectto;
allow cameraserver media_config_prop:file { getattr map open read };
set_prop(cameraserver, exported_system_prop)
